body {
	margin-top: 75px;
	margin-bottom: 75px;
  background-image: linear-gradient(to right, #57A9E1, #A3cfec, #e5eef5);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 55px;
  color: #fff;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Fredoka One', cursive;
	font-size: 40px;
  color: #fff;
}  

#buttonsView {
	display: inline;
}

button, #add-animal, #animal-input {
	background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: grey;
  border-radius: 4px;
  border: solid white;
}

label{
	font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: grey;
}

.gif{
  margin: 10px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 10px;
  text-transform: uppercase;
  
}



    div {
      display: inline-block;
      float: align left;
    }


    form,
    input {
      margin: 10px;
    }
   